<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <script type="text/javascript">
                let id = "<%= user.twitterId%>"
                let username = "<%= user.username%>";
                let description = "<%=user.description%>";
                let image = "<%=user.image%>";
                window.opener.postMessage({id: id, username: username, image: image, description: description}, '*');
                window.close();
        </script>  
    
</body>
</html>